<!DOCTYPE html>
<html>
  <head>
    <title>URLockBox</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
      <%= link_to 'Logout', logout_path, method: :DELETE %>
    <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Sign-Up', new_user_path %>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application'%>
</html>
